<h1>Edit Pin</h1>

<%= form_for @pin do |f| %>
  <%= f.label "Url" %>
  <%= f.text_field :url %><br />
  <%= f.label "Comment" %>
  <%= f.text_field :comment %><br />
  <%= f.label "Image" %>
  <%= f.text_field :image %><br />
  <%= f.submit "Edit Pin" %>
<% end %>