<%= render "navbar" %>

<h1>Pins</h1>

<table class="table table-striped">
  <thead class="">
    <td>IMG</td>
    <td>URL</td>
    <td>Comment</td>
    <td></td>
  </thead>
  <tbody>
<% @pins.each do |pin| %>
    <tr>
      <td><img src="<%= pin.image %>" style="width: 50px"></td>
      <td><a href="<%= pin.url %>"><%= pin.url %></a></td>
      <td> <%= pin.comment %></td>
      <td><%= link_to 'More', pin_path(pin), class: '' %></td>
    </tr>
<% end %>
  </tbody>
</table>
