<%= render "navbar" %>

<h1 class="text-center"><a href="<%= @pin.url %>"><%= @pin.url %></a></h1><br>
<div class="text-center">
  <img src="<%= @pin.image %>" style="width: 400px" class="text-center">
</div><br>
<p class="text-center"><%= @pin.comment %></p>

<div class="text-center">
  <%= link_to 'Edit this pin', edit_pin_path(@pin), class: 'btn btn-info' %> <!--LINK_TO PATH edit_pin_path(@pin) comes from route prefix-->
  <!-- <a class="btn btn-default" href="/pins/<%= @pin.id %>/edit" class="text-center" role="button">Edit</a> -->
  <div class="btn btn-default" role="button"><%= link_to 'Delete', @pin, method: :delete, data: {confirm: "Are you sure?"} %> <!--@pin == @pin_path rails automatically knows to follow @pin_path -->
  </div>
</div>