<%= render "navbar" %>

<h1 class="text-center"><a href="<%= @pin.url %>"><%= @pin.url %></a></h1><br>
<div class="text-center">
  <img src="<%= @pin.image %>" style="width: 400px" class="text-center">
</div><br>
<p class="text-center"><%= @pin.comment %></p>

<div class="text-center">
  <a class="btn btn-default" href="/pins/<%= @pin.id %>/edit" class="text-center" role="button">Edit</a>
  <div class="btn btn-default" role="button"><%= link_to 'Delete', @pin, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>